.header{
  /* background-color: #5c008a; */
background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
  background-color: teal;
  z-index: 900;
  height: 400px;
  width: 100%;
  margin-top: 120px;
}

.headIMG {
  z-index: 350;
  text-align: center;
  padding-top: 20px;
  /* left: 400px; */
}

.headName{
  text-align: center;
}

