.tweets{
  border:2px black solid;
  margin: 2% 0;
  padding: 0.5em;
}

.tweet-name{
  opacity: 0.5;
  float: left;
}


.tweet-age{
  display: inline-flex;
}

.tweet-handle{
  float: top;
  float: right;
  opacity: 0.0;
}

.tweet-icon{
  float: right;
  display: inline-flex;
  opacity: 0;
}

.tweets img{
  border-radius: 80%;
  width: 10%;
  float: left;
  float: top;
}

.tweet-body{
  border-bottom:2px black solid;
  padding-bottom: 15px;
  margin: 0 auto;
  width: 98%;
  display: inline-block;
  font-size: 70%;
}

article:hover .tweet-icon{
  float: right;
  display: inline-flex;
  opacity: 100;
}

.tweets:hover{
  font-weight: 600;
  box-shadow: 5px 10px #888888;
  opacity: 100;
}

article:hover .tweet-handle{
  opacity: 100;
}

.tweets:hover .tweet-name{
  font-family: 'Bungee', cursive;
}